/build
/node_modules
/yarn.lock

/db
/test.js

# mdbx out exe files
/libmdbx/mdbx_chk
/libmdbx/mdbx_copy
/libmdbx/mdbx_drop
/libmdbx/mdbx_dump
/libmdbx/mdbx_load
/libmdbx/mdbx_stat
/libmdbx/config.h
/libmdbx/*.o
/libmdbx/*.tag
/libmdbx/*.a
/libmdbx/*.so